<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <header class="w3-container w3-info w3-center">
        <h1>App de notas</h1>
    </header>

    <main class="w3-container w3-flex">
        <form action="/login" method="get" class="w3-center">
            <h2>Entrar com o Google</h2>
            <p>Clique no botão abaixo para autenticar-se com a sua conta Google.</p>
            <button class="w3-button w3-asphalt">
                <span class="google-icon">
                    <img src="./google-icon.svg" alt="" width="24px">
                </span>
                Entrar
            </button>
        </form>

        <!--
            Criar aqui a span/div para conter errors ou 
            falhas de autenticação.
        -->
    </main>

    <!-- <footer class="w3-container w3-info w3-center">
        <p>Created by <a href="">Gabriel Teles</a></p>
    </footer> -->
</body>

</html>