header {
    grid-template-columns: 70px auto;
}

body {
    position: relative;
    min-height: 100vh;
}

#create-note-btn {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

#notes-container {
    padding: 16px;
    margin-top: 32px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.note {
    position: relative;
    padding: 16px;
    width: 250px;
    min-height: 320px;
    height: 100%;
}

.note-bar {
    width: 100%;
    position: absolute;
    bottom: 8px;
    left: 0;
}

.note-btn {
    margin: 0px 4px;
    border-radius: 50%;
    padding: 10px;
}

/* Formulário de criação de notas */
#note-content-form {
    margin: 16px 0px;
    padding: 8px;
    width: 100%;
    max-width: 100%;
    height: 200px;
}

#form-feedback {
    margin-left: 16px;
    font-size: 12px;
}

/* Nota renderizada */
.note-content {
    white-space: pre-line;
}

/* User account */
.account-container {
    max-width: 600px;
    width: 100%;
}