body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: start;
}

form {
    margin-top: 150px;
    width: 100%;
    max-width: 550px;
}